
@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');
/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html{
  background: url(images/backgroundimage.jpg) no-repeat center center fixed;
  /* filter: brightness(120%); */
}

body {
font: 62.5%;
cursor: pointer;
/* background-image: 'url(css/images/backgroundimage.jpg)'; */

}

h1 , h2, p{
  text-align:center;
}
h1 , p{
  font-family: 'Marvel', sans-serif;
}
p{
  color:white;
  font-size: 5rem;
  margin-top: -5rem;
  margin-right: -7.5rem;
}
.part1{
  font-weight: 700;
  font-size: 5rem;
  text-transform: uppercase;
  background-color: #dc3545;
  color: #fff;
}

.part2{
  font-weight: 700;
  font-size: 4.5rem;
  text-transform: uppercase;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  margin-bottom:100px ;
}



/******************************************
/* LAYOUT
/*******************************************/
.main-container{
  display: flex;
   justify-content: flex-start;
  align-items: flex-start; 

  
}

.container01 , .container02, .container03, .container04{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 50rem; */
}

section {
  height: 10rem;
  width: 12rem;
  
  margin: 1.8rem;
}
.images{
  margin: 2rem;
  height: 10rem;
  width: 12rem;
  border-radius: 15px;
  border: 6px solid #adb5bd;
}


.bigscreen{
  height: 30rem;
  width: 30rem;
  /* border:1px solid black; */
  margin-top: 6rem;
  margin-bottom: 6rem;
  margin-left: 15rem;
  margin-right: 8rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  


  
}

.container04{
  /* float: right; */
  

}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

